<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfileInfo" xsi:type="File" fileName="infoLog.log" />
        <target name="logfileothers" xsi:type="File" fileName="appLog.log" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" level="Info" writeTo="logfileInfo" />
        <logger name="*" level="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Warn" writeTo="logfileothers" />
    </rules>
</nlog>